# Function - Arguments

Different type of arguments:

1. Positional Arguments
2. Default Arguments
3. Keyword Arguments
4. Variable Length Arguments

# Positional Arguments

In [1]:
def add_nums(a, b):
    return f"Sum = {a+b}"

add_nums(2, 3) # positional argument

'Sum = 5'

In [2]:
def name(emp_name):
    print("My name is ", emp_name)
    
name('Hansa Guru') # positional argument

My name is  Hansa Guru

# defualt arguments

In [5]:
def add_nums_def(a=4, b=8): # defualt arguments
    return f"Sum = {a+b}"

add_nums_def()

'Sum = 12'

In [6]:
add_nums_def(2, 4)

'Sum = 6'

In [7]:
def name_def(emp_name="Hansa"):
    print("My name is ", emp_name)
    
name_def()

My name is  Hansa

In [8]:
name_def("Hansa Guruprasad")

My name is  Hansa Guruprasad

# keyword arguments

In [14]:
def display_info(fname, lname):
    print("First Name: ", fname)
    print("Last Name: ", lname)

In [15]:
display_info(lname='Guruprasad', fname='Hansa')

First Name:  Hansa
Last Name:  Guruprasad

In [16]:
def add_two_num(a, b):
    print("a = ", a)
    print("b = ", b)
    return a+b

In [17]:
add_two_num(b=20, a=10)

a =  10
b =  20

30

# variable length arguments

In [ ]:
# *args, **kwargs

In [16]:
def find_sum(*num): # *args --> accepts n number of arguments!
    result = 0
    for n in num:
        result += n
    print("Sum = ", result)
    
# find_sum()

In [17]:
find_sum(1, 2)

Sum =  3

In [18]:
find_sum(1, 2, 3, 4)

Sum =  10

In [21]:
find_sum(1, 2, 3, 4, 5, 6, 7, 7)

Sum =  35

In [23]:
def sum_numbers(a, *b):
    s = a
    for i in b:
        s = s + i
    return s

In [26]:
sum_numbers(1, 100, 20)

121

In [34]:
def intro(**data):
    print("data type of kwargs is ", type(data))
    print(data)
    for k, v in data.items():
            print(k +": "+ v)

In [35]:
intro(fname='Hansa', lname='Guruprasad', qualification='B.E.')

data type of kwargs is  <class 'dict'>
{'fname': 'Hansa', 'lname': 'Guruprasad', 'qualification': 'B.E.'}
fname: Hansa
lname: Guruprasad
qualification: B.E.

In [37]:
def simple(**x):
    print(x)

In [38]:
simple(name='Hansa', age=26, id='320494')

{'name': 'Hansa', 'age': 26, 'id': '320494'}

# lambda functions

In [39]:
# anonymus function -> shorlived functions -> 

# Syntax --> lambda args: expression

In [40]:
greet = lambda : print('Hello World')

In [42]:
greet()

Hello World

In [43]:
pw = lambda : print("PW SKills")

In [44]:
pw()

PW SKills

In [45]:
add_num = lambda a, b: a+b

In [46]:
add_num(2, 3)

5

In [47]:
mul_num = lambda a, b: a*b

In [48]:
mul_num(2, 4)

8

In [49]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

sq_num = lambda a, b: (a**2, b**2)

print(sq_num(a, b))

Enter first number:  4
Enter second number:  6

(16, 36)

In [58]:
even_num = lambda : [a for a in range(1, 10) if a % 2 == 0]

In [56]:
even_num()

[2, 4, 6, 8]

In [61]:
# WAP using lambda, that accepts two arguments and returns the greatest amongst

great = lambda a, b: a if a > b else b

print("The greatest number is: ", great(1, 1.0))

The greatest number is:  1.0

In [65]:
# WAP using lambda, that accepts three arguments and returns the greatest amongst

great_three = lambda a, b, c: a if (a > b and a > c) else b if b > a and b > c else c

print("The greatest number is: ", great_three(100, 101, 99))

The greatest number is:  101

In [69]:
sum_three = lambda a, b, c: a + b + c
sum_three(3, 4, 5)

12

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [84]:
products = [
    {'name': 'Milk', 'price': 32},
    {'name': 'Biscuits', 'price': 50},
    {'name': 'Bottles', 'price': 21},
    {'name': 'Clips', 'price': 25}
]
# sort based on prices
sorted_product = sorted(products, key=lambda x: x['price'])

In [85]:
sorted_product

[{'name': 'Bottles', 'price': 21},
 {'name': 'Clips', 'price': 25},
 {'name': 'Milk', 'price': 32},
 {'name': 'Biscuits', 'price': 50}]

In [94]:
product2 = [
    {'name': 'Milk', 'price': 32, 'DOE': {'year': 2023}},
    {'name': 'Biscuits', 'price': 31, 'DOE': {'year': 2023}},
    {'name': 'Bottles', 'price': 21, 'DOE': {'year': 2022}},
    {'name': 'Clips', 'price': 25, 'DOE': {'year': 2024}}
]

sorted_doe = sorted(product2, key=lambda k: k.get('DOE', {}).get('year'))

In [95]:
sorted_doe

[{'name': 'Bottles', 'price': 21, 'DOE': {'year': 2022}},
 {'name': 'Milk', 'price': 32, 'DOE': {'year': 2023}},
 {'name': 'Biscuits', 'price': 31, 'DOE': {'year': 2023}},
 {'name': 'Clips', 'price': 25, 'DOE': {'year': 2024}}]

In [96]:
# WAP using lambda that accepts a character as argument that returns true, if it is a vowel else False

In [97]:
char = lambda ch: True if ch in 'AEIOUaeiou' else False

In [98]:
char('a')

True

In [99]:
# WAP using lambda that accepts a string as argument that returns vowels inside it

In [100]:
string = 'Hansa'

vowels = lambda x: [x for x in string if x in 'AEIOUaeiou']

In [103]:
vowels(string)

['a', 'a']

In [104]:
# some built-in functions

max(1, 2, 3, 4)

4

In [105]:
max([1, 0, 2, 2.0, 2.01])

2.01

In [114]:
rang = enumerate(range(1, 10), ord('A'))
for index, num in rang:
    print(index, num)

65 1
66 2
67 3
68 4
69 5
70 6
71 7
72 8
73 9

# List Comprehensions

In [118]:
y = [print(x) for x in range(1, 6)]

1
2
3
4
5

In [119]:
y

[None, None, None, None, None]

In [120]:
f = ['two' if x % 2 == 0 else 'three' if x % 3 == 0 else 'not divisible by 2 & 3' for x in range(1, 11)]

In [121]:
f

['not divisible by 2 & 3',
 'two',
 'three',
 'two',
 'not divisible by 2 & 3',
 'two',
 'not divisible by 2 & 3',
 'two',
 'three',
 'two']