# break, continue, pass

In [2]:
num = 0

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")
    
print("This always prints")

Zero
This always prints

In [3]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [8]:
days = 0
week = ['mon', 'tue', 'wed', 'thur', 'fri', 'sat', 'sun']

while days < 7:
    print("Today is ", week[days])
    days += 1

Today is  mon
Today is  tue
Today is  wed
Today is  thur
Today is  fri
Today is  sat
Today is  sun

# break

In [9]:
text = "I write code"
text.split()

['I', 'write', 'code']

In [10]:
x = input("Enter three word message!")

Enter three word message! welcome to pwskills

In [12]:
word1, word2, word3 = x.split()

In [15]:
print(word1)
print(word2)
print(word3)

welcome
to
pwskills

In [20]:
a, b, c = input("Enter three numbers, separated by spaces: ").split(',')

print(int(a) + int(b) + int(c))
print(b)
print(c)

Enter three numbers, separated by spaces:  1,2,3

6
2
3

In [22]:
roll, name, percent = input("Enter the Roll number, Name and Percentage (Separated by comma):").split(',')


print("Roll Number:", roll)
print("Name:", name)
print("Percentage:", percent)

Enter the Roll number, Name and Percentage (Separated by comma): 1VI14IS028, Hansa S, 79.99%

Roll Number: 1VI14IS028
Name:  Hansa S
Percentage:  79.99%

In [24]:
s1 = "A B C D E F"
print(s1.split(' ', 2))

['A', 'B', 'C D E F']

In [27]:
s2 = "Hi@"*5 + 'Hi'
s2

'Hi@Hi@Hi@Hi@Hi@Hi'

In [28]:
s2.split('@')

['Hi', 'Hi', 'Hi', 'Hi', 'Hi', 'Hi']

In [32]:
s2.split('@', 4)

['Hi', 'Hi', 'Hi', 'Hi', 'Hi@Hi']

In [ ]:
s2.split

Signature: s2.split(sep=None, maxsplit=-1)
Docstring:
Return a list of the substrings in the string, using sep as the separator string.

  sep
    The separator used to split the string.

    When set to None (the default value), will split on any whitespace
    character (including \\n \\r \\t \\f and spaces) and will discard
    empty strings from the result.
  maxsplit
    Maximum number of splits (starting from the left).
    -1 (the default value) means no limit.

Note, str.split() is mainly useful for data that has been intentionally
delimited.  With natural text that includes punctuation, consider using
the regular expression module.
Type:      builtin_function_or_method

# break

In [36]:
for ch in "Pwskills":
    if ch == 'l':
        break
    print("letter ",ch)

letter  P
letter  w
letter  s
letter  k
letter  i

In [37]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [39]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [42]:
i = 1
while i <= 10:
    print(i)
    if i > 5:
        break
    i +=1

1
2
3
4
5
6

In [43]:
numbers = list(range(10, 200, 10))

for i in numbers:
    if i > 100:
        break
    print("The current number is ", i)

The current number is  10
The current number is  20
The current number is  30
The current number is  40
The current number is  50
The current number is  60
The current number is  70
The current number is  80
The current number is  90
The current number is  100

In [44]:
s = "Hello, World"
for ch in s:
    if ch == ',':
        break
    print(ch)

H
e
l
l
o

In [46]:
for ch in "Pwskills":
    if ch == 'i':
        continue
    print(ch)

P
w
s
k
l
l
s

In [47]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [48]:
# WAP to print odd numbers from 1, to 10

for i in range(1, 10+1):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [49]:
n = 10
if n  > 10:
    pass
print('hello')

hello

In [50]:
for i in range(5):
    pass
print("Guru")

Guru

In [52]:
for ch in "Pwskills":
    if ch == 'k':
        pass
    print(ch)

P
w
s
k
i
l
l
s

# Functions

In [5]:
def addition(a, b):
    return a + b

In [6]:
def greet():
    print("Hello World!")
    
greet()

Hello World!

In [7]:
addition(10, 20)

30

In [10]:
def add_nums():
    a, b = input("Enter two numbers (separated by comma): ").split(',')
    print(f"{int(a) + int(b)}")

In [12]:
add_nums()

Enter two numbers (separated by comma):  2, 9

11

In [16]:
def multiply(x, y):
    print(x*y)

multiply(100, 4)

400

In [17]:
def introduction(name):
    print("Hi", name)
    
introduction("Hansa")

Hi Hansa

In [18]:
def name(fname, lname):
    print("Full Name: ", fname + ' ' + lname)
    
name('Hansa', 'Guruprasad')

Full Name:  Hansa Guruprasad

In [29]:
def interchange(num):
    return  -num if num > 0 else -num

interchange(-21)

21

In [30]:
def always_positive(num):
    return num if num > 0 else -num

In [33]:
always_positive(200)

200

In [35]:
def _print(name):
    print(name)
def _print_(name):
    return name

x = _print('Hansa')
print("X", x)
y = _print_('Guru')
print("Y", y)

Hansa
X None
Y Guru

In [40]:
def calculator(a, b):
    return (f"Sum={a+b}, Mul={a*b}, Sub={a-b}, Div={a/b}")

calculator(10, 20)

'Sum=30, Mul=200, Sub=-10, Div=0.5'

In [41]:
def area_of_circle(r):
    return 3.14*r*r

area_of_circle(3)

28.259999999999998

# Questions

In [45]:
# 1. Print the first 5 positive integers in ascending order with one number in each line
def integer(n):
    for i in range(1, n+1):
        print(i)
    return

integer(5)

1
2
3
4
5

In [46]:
def pattern(n):
    for i in range(n):
        for j in range(i+1):
            print("*", end='')
        print()
    return

pattern(10)

*
**
***
****
*****
******
*******
********
*********
**********

In [47]:
def square(n):
    return n**2

square(11)

121

In [48]:
def add(a, b):
    return a + b

a, b = input("Enter two numbers spearated by comma: ").split(',')
add(int(a), int(b))

Enter two numbers spearated by comma:  1, 2

3

In [49]:
def space(w1, w2):
    return w1 + ' ' + w2

space('Hansa', 'Guruprasad')

'Hansa Guruprasad'

In [1]:
# WAP 

def print_even_number(ulimit, llimit):
    return [x for x in range(llimit, ulimit+1) if x % 2 == 0]

lower, upper = input("Enter the lower limit and upper limit (separated by comma): ").split(',')

print(f"Even numbers are: {print_even_number(int(upper), int(lower))}")

Enter the lower limit and upper limit (separated by comma):  2, 100

Even numbers are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [62]:
def triangle(a, b, c):
    a_sqr = b**2 + c**2
    
    b_sqr = a**2 + c**2
    
    c_sqr = a**2 + b**2
    
    
    if c**2 == c_sqr or a**2 == a_sqr or b**2 == b_sqr:
        return True
    return False

a, b, c = input("Enter the sides of a triangle (separated by commas)").split(',')

if triangle(int(a), int(b), int(c)):
    print("YES")
else:
    print("NO")

Enter the sides of a triangle (separated by commas) 1, 2, 3

NO

In [16]:
string = "abcdeqwggggggggggggggggggggggggF"

def check_password(s):
    if len(s) >= 8 and len(s) <= 32:
        if s[0].isalpha():
            for ch in s:
                if ch in ['\\', '/', '=', ' ', "'", '"']:
                    return False
            return True
        else:
            return False
    else:
        return False
    
print(f"{check_password(string)}")

True

In [2]:
string = "Haqwer123@qwe"
len(string)

13

In [18]:
def greet():
    message = "Hello"
    print("Local .. ", message)
print(message)
greet()

NameError: name 'message' is not defined

In [19]:
def add():
    # local scopes
    x = 20
    y = 30
    print(x+y)

In [21]:
# global scope
x = "awesome"
def myfunc():
    x = "fantastic"
    # local scope
    print("Python is " + x)

myfunc()
print(x)

Python is fantastic
awesome

In [24]:
x = 20
def add():
    y = 10
    print("It's a Local variable y = ", y)
    print("It's a Global variable x = ", x)
    z = x + y
    print(z)
    
def sub():
    m = 10
    print("It's a Local variable m = ", m)
    print("It's a Global variable x = ", x)
    z1 = x - m
    print(z1)
    
add()
sub()

It's a Local variable y =  10
It's a Global variable x =  20
30
It's a Local variable m =  10
It's a Global variable x =  20
10

In [2]:
global x
x = 10
def add1():
    x = 20
    print(x)
add1()   
print(x)

20
10

In [3]:

x = 10
def add1():
    global x
    x = 20
    print(x)
add1()   
print(x)

20
20